
body{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 30;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
  text-align: center;
}
